/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: url('../images/bg-pattern.png') repeat top center !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*html {
	width: 100vw;
	overflow-x: hidden;
}*/

/*** Font face */
@font-face {
    font-family: 'cinzelblack';
    src: url('../fonts/cinzel-black-webfont.woff2') format('woff2'),
         url('../fonts/cinzel-black-webfont.woff') format('woff'),
         url('../fonts/cinzel-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cinzelbold';
    src: url('../fonts/cinzel-bold-webfont.woff2') format('woff2'),
         url('../fonts/cinzel-bold-webfont.woff') format('woff'),
         url('../fonts/cinzel-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cinzelregular';
    src: url('../fonts/cinzel-regular-webfont.woff2') format('woff2'),
         url('../fonts/cinzel-regular-webfont.woff') format('woff'),
         url('../fonts/cinzel-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cinzel_decorativeblack';
    src: url('../fonts/cinzeldecorative-black-webfont.woff2') format('woff2'),
         url('../fonts/cinzeldecorative-black-webfont.woff') format('woff'),
         url('../fonts/cinzeldecorative-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cinzel_decorativebold';
    src: url('../fonts/cinzeldecorative-bold-webfont.woff2') format('woff2'),
         url('../fonts/cinzeldecorative-bold-webfont.woff') format('woff'),
         url('../fonts/cinzeldecorative-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzel_decorativeregular';
    src: url('../fonts/cinzeldecorative-regular-webfont.woff2') format('woff2'),
         url('../fonts/cinzeldecorative-regular-webfont.woff') format('woff'),
         url('../fonts/cinzeldecorative-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'edpensooknormaltone';
    src: url('../fonts/edpensook-normaltone-webfont.woff2') format('woff2'),
         url('../fonts/edpensook-normaltone-webfont.woff') format('woff'),
         url('../fonts/edpensook-normaltone-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'edpensooknormaltonebold';
    src: url('../fonts/edpensook-normaltonebold-webfont.woff2') format('woff2'),
         url('../fonts/edpensook-normaltonebold-webfont.woff') format('woff'),
         url('../fonts/edpensook-normaltonebold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**** Helper */
.shame a,
.shame a:hover,
.shame a:visited,
.shame a:active,
.shame a:focus {
  color: #C1AF9F;
  text-decoration: none;
	/*line-height: 2;*/
}
.slider,
.promo {
	color: #C1AF9F;
}
.shame a:hover {
  box-shadow: inset 0 -1px #C1AF9F;
}
.shame div.active {
	font-family: 'cinzelbold';
}
a.btn,
a.col-sm-3,
a.col-xs-4 {
	box-shadow: none;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
* {
  transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
}

/**** Navigation */
.navigation-bar {
  /*background: rgba(54, 42, 33, .85);*/
	background: rgba(50,50,50,.9);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
	z-index: 999;
}
.navigation-bar ul {
  margin: 0;
  padding: 0;
}
.navigation-bar .navbar-left .navbar-brand {
  margin: 20px 0 10px 0;
}
.navigation-bar .navbar-left .navbar-brand img {
	width: 90px;
}
.navigation-bar .navbar-left {
  width: 25%;
  display: inline-block;
	vertical-align: middle;
}
.navigation-bar .navbar-right {
  display: inline-block;
  width: 73%;
  margin-left: auto;
  margin-right: 0;
	vertical-align: middle;
}
.navigation-bar .navbar-right .navbar-top {
  text-align: right;
}
ul.contact {
	list-style: none;
	text-align: right;
}
ul.contact li {
	display: inline-block;
	padding: 0 2px;
}
ul.contact li a,
ul.contact li a:hover,
ul.contact li a:active,
ul.contact li a:focus {
	box-shadow: none;
	text-decoration: none;
}
ul.contact li img {
	width: 25px;
	vertical-align: -4px;
}
ul.contact li span{
	font-size: 20px;
}
.navigation-bar .navbar-right .navbar-menu li {
  display: inline-block;
  width: auto;
  padding: 50px 3% 0 3%;
}
.navigation-bar .navbar-right .navbar-menu li div {
	cursor: pointer;
}
.navigation-bar .navbar-right .navbar-menu li div:hover {
  box-shadow: inset 0 -1px #C1AF9F;
}

/**** Section */
.slider {
  /*background: #aaa;*/
  height: 670px;
}
.slider .arrow {
  top: 56%;
}
.slider.-menu {
	height: auto;
	/*min-height: 350px;*/
}
.owl-dots {
	display: none !important;
}
.slider.-menu .arrow {
  top: 44%;
}
.slider.-menu .slider-menu {
  background: rgba(54, 42, 33, .85);
  text-align: center;
	border-top: 5px solid #A9877D;
	font-family: 'cinzelregular', 'Helvetica';
}
.slider.-menu .slider-menu li {
  display: inline-block;
  margin: 15px 0;
  padding: 5px 40px;
  border-right: 1px solid rgba(217,196,178,.3);
	font-size: 18px;
	font-family: 'cinzelregular', 'Helvetica';
}
.slide-menu-3 .col-sm-8 {
	font-family: 'cinzelregular', 'Helvetica';
}
.slider.-menu .slider-menu li div {
	cursor: pointer;
}
.slider.-menu .slider-menu li:hover div {
	box-shadow: inset 0 -1px #C1AF9F;
}
.slider.-menu .slider-menu li:last-child {
	border-right: 0;
}
.slider.-map {
  background: #252627;
	height: auto;
  /*min-height: 615px;*/
}
.slider.-map .tab {
  margin: 10px auto 0 auto;
  display: block;
  text-align: center;
	font-family: 'cinzelregular';
}
.slider.-map .tab li {
  display: inline-block;
  border-right: 1px solid #C1AF9F;
	padding: 2px 10px;
	cursor: pointer;
	font-size: 14px;
}
.slider.-map .tab li:hover {
  color: #786B5D;
}
.slider.-map .tab li:last-child {
  border-color: transparent;
}
.slider.-map .tab li .icon,
.slider.-map .tab li .text {
  display: inline-block;
}

.cta {
  padding: 30px 0;
  background: rgba(54, 42, 33, .85);
  color: #C1AF9F;
	position: absolute;
	width: 100vw;
	margin-top: -122px;
	z-index: 10;
}
.cta p {
	font-size: 23px;
	max-width: 420px;
	text-align: right;
	line-height: 1.3;
	margin-left: auto;
	letter-spacing: 2px;
}
.cta .btn {
	display: inline-block;
}

.info {
  height: 60vh;
  background-color: #111;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	background-image: url('../images/bg-info.jpg');
  color: #ffffff;
	position: relative;
}
.info:after {
	content: "";
	display: block;
	width: 100vw;
	height: 60vh;
	background: rgba(0,0,0,.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.info .row {
  padding: 10vh 0;
	position: relative;
	z-index: 1;
}
.info .title {
  font-size: 30px;
  line-height: 2;
	color: #A9877D;
	text-align: center;
}
.info p {
  line-height: 1.5;
	font-size: 22px;
	letter-spacing: 2px;
	text-align: center;

}

.promo {
  /*background: #bbb;*/
	/*background-image: url('../images/head-1.png');*/
	-webkit-background-size: cover;
	background-size: cover;
	/*height: 40vh;*/
	min-height: 300px;
	text-align: center;
	/*margin-top: -1px;*/
	background-position: center;
}
.promo .row {
	margin: 0;
}
.promo img {
	width: 40%;
	min-width: 200px;
	max-width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
}
.promo > div > div{
	min-height: 400px;
}
.promo > div img {
	padding-top: 50px;
}
.promo > div:nth-child(1) {
	/*background: rgba(0,0,0,.7);*/
}
.promo .text {
	display: block;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 2px;
	font-size: 40px;
	margin-top: 140px;
	/*color: #ffffff;*/
	font-family: 'edpensooknormaltone';
}
#en .promo .text {
  font-family: 'cinzelregular';
  font-size: 1.8em;
  height: auto !important;
	line-height: 1.3;
}
.promo .text .big {
	font-size: 1.2em;
}
.promo .btn {
	margin: 20px auto;
	display: inline-block;
}

.footer {
  color: #ffffff;
  font-size: 12px;
  background: #333;
  border-top: 5px solid #C1AF9F;
  padding: 30px;
	margin-top: -10px;
	text-align: center;
}
.footer p {
  max-width: 400px;
  line-height: 1.6;
	letter-spacing: 1.2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.footer p.title {
	font-size: 16px;
	margin: 10px auto 5px auto;
}
.footer .contact {
	display: inline;
}
.footer input[type="email"] {
	padding: 7px 10px;
	text-indent: 10px;
	border-radius: 3px;
	outline: none;
	border: none;
	/*background: rgba(255,255,255,.3);*/
	font-size: 14px;
	color: #333;
	font-family: 'Helvetica', 'sans-seif', 'tahoma';
	vertical-align: middle;
}
.footer input[type="submit"] {
	background: transparent;
	font-size: 14px;
	padding: 7px 10px;
	border-width: 1px;
	color: #C1AF9F;
}
.footer .row {
	margin: 0;
}

/**** Components */
/** Button */
.btn {
  padding: 14px 40px;
  cursor: pointer;
  border-radius: 3px;
  border-color: transparent;
	font-size: 28px;
	letter-spacing: 2px;
}
.btn.-primary {
  border: 3px solid #C1AF9F;
}
.btn.-primary:hover {
  background: #C1AF9F;
  color: rgba(54, 42, 33, .9);
}
.btn.-primary:hover .arrow-right {
	border-color: rgba(54, 42, 33, .85);
}
.btn.-primary:active,
.btn.-primary:visited {
  background: #786B5D;
  border-color: #786B5D;
}
.btn.-ghost {
  border: 1px solid #eee;
  color: #eee;
  background: transparent;
}
.btn.-ghost .arrow-right {
	border-color: #ffffff;
}
.btn.-ghost:hover {
  background: #eee;
  border-color: #eee;
  color: rgba(54, 42, 33, .85);
}
.btn.-ghost:hover .arrow-right {
	border-color: rgba(54, 42, 33, .85);
}

.arrow-right {
	display: inline-block;
	content: "";
	width: 20px;
	height: 20px;
	border-top: 2px solid  #C1AF9F;
	border-right: 2px solid  #C1AF9F;
	transform: rotate(45deg);
}

.head {
	width: 100vw;
	height: 670px;
	display: block;
	content: "";
	/*background-position: center;*/
	-webkit-background-size: cover;
	background-size: cover;
}
.head.-head-1 {
	background-image: url('../images/head-1.png')
}
.head.-head-1 .actor {
	width: 300px;
	position: absolute;
	bottom: 0;
	right: 21%;
}
.head.-head-1 .content {
	position: absolute;
	left: 30%;
	top: 30%;
}
.title.-al-define .top-heading {
	text-transform: uppercase;
	line-height: 1.5;
}
.title.-al-define .heading {
	border-top: 2px solid;
	border-bottom: 2px solid;
	text-transform: uppercase;
	font-size: 50px;
	line-height: .95;
	padding-top: 3px;
	width: auto;
	display: inline-block;
	font-family: 'cinzelregular'
}
.head.-head-1 .text {
	text-align: center;
	margin-top: 20px;
	margin-left: -50%;
}
.head.-head-1 .text span {
	display: inline-block;
	font-size: 30px;
	letter-spacing: 2px;
	font-family: 'edpensooknormaltone';
	line-height: 1.4;
	box-shadow: inset 0 -1px #C1AF9F;
}
.head.-head-1 .text p {
	font-size: 24px;
	margin: 30px 0;
	letter-spacing: 2px;
	font-family: 'edpensooknormaltone';
	line-height: 1.4;
}
.head.-head-1 .text .btn {
	font-family: 'edpensooknormaltone';
	font-size: 20px;
	padding: 8px 25px;
}
.head.-head-2 {
	background-image: url('../images/head-2.jpg');
}
.head.-head-2 .wrapper {
	width: 100%;
	height: 100%;
	background: rgba(30,30,30,.8);
	content:""
}
.head.-head-2 .title {
	font-size: 50px;
	text-align: center;
	padding-top: 350px;
	font-family: 'cinzelregular';
}

.head.-head-3 {
  background-size: 110%;
	background-image: url('../images/head-3.png');
}
.head.-head-3 .text {
	padding-top: 300px;
	display: block;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 2px;
	font-size: 34px;
	color: #ffffff;
	width: 50%;
	font-family: 'edpensooknormaltonebold';
}
.head.-head-3 .btn {
	margin: 20px auto;
	display: block;
	padding: 5px 30px;
}

.slider.-menu .col-sm-6 {
	/*width: 50%;*/
	/*float: left;*/
	/*background: rgba(0,0,0,.4);
	display: block;
	content: "";*/
	height: 580px;
  max-height: 700px;
  min-height: 400px;
	position: relative;
}
.slide-menu-1 .box.-half:nth-child(2) {
	/*background-image: url('../images/head-1.png');*/
	/*background-position: center;*/
}
.slide-menu-1 .-img {
	background-position: center;
	background-size: cover;
	background-image: url('../images/promo.jpg');
	height: 600px;
}
.slide-menu-1 .content {
	margin-left: auto;
	margin-right: auto;
	display: block;
  margin: 180px auto;
	text-align: center;
}
.slide-menu-1 .content .title.-al-define .top-heading {
	padding-right: 94px;
}
.slide-menu-1 .content .text .sub {
	 font-size: 50px;
	 margin: 2vh 0;
	 display: block;
	 font-family: 'cinzelregular';
 }
.slide-menu-1 .content .text span {
	display: block;
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 1.4;
}
.slide-menu-1 .content .text a.btn {
	padding: 7px 20px;
	margin: 30px 0;
	display: inline-block;
	font-weight: 100;
	font-size: 25px;
}
.slide-menu-1 .content .text a.btn .arrow-right {
	width: 15px;
	height: 15px;
}
.slide-menu-1.row {
	margin: 0;
}

.slide-map-1 {
	text-align: center;
}
.slide-map-1 img {
	width: 70% !important;
	margin: 20px auto;
	max-width: 850px !important;
}
.slider.-menu {
	/*background-image: url('../images/head-1.png');*/
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	/*margin-top: -1px;*/
}
.slide-menu-2,
.slide-menu-3 {
	/*max-width: 980px;*/
	margin: 10px auto;
	/*display: block;*/
}
.slide-menu-2 img {
	width: 100%;
}
.slide-menu-2 .container {
	width: 70%;
}
.slide-menu-2 .title,
.slide-menu-3 .title{
	display: none;
	font-size: 1.3em;
	text-align: center;
	font-family: 'cinzelbold';
	margin: 10px 0 0 0;
}
.slide-menu-2 .col-sm-3 {
	margin: 20px 0;
}
.slide-menu-2 .col-sm-3 div {
	width: 100%;
	height: 154px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  border: 1px solid #C1AF9F;
}
.slide-menu-3 {
	margin: 50px auto;
	letter-spacing: 2px;
	line-height: 1.4;
	font-family: 'cinzelbold';
}
.slide-menu-3 .row {
	margin: 15px 0;
}
.slide-menu-3 .row:first-child {
	margin: 0;
}

.arrow {
  display: block !important;
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  text-indent: -9999px;
  border-top: 2px solid #ddd;
	border-left: 2px solid #ddd;
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: transparent;
}
.arrow:hover {
	border-color: #aaa;
	border-width: 6px;
}
.arrow:before {
	display: block;
	height: 200%;
	width: 200%;
	margin-left: -50%;
	margin-top: -50%;
	content: "";
	transform: rotate(45deg);
}
.arrow.prev {
	transform: rotate(-45deg);
	left: 13%;
}
.arrow.next {
	transform: rotate(135deg);
  right: 13%;
	display: block;
}

.owl-dots {
	/*margin-top: -30px;*/
	text-align: center;
}
.owl-dot {
	/*margin-top: -80px;*/
	width: 15px;
	height: 15px;
	content: "";
	background: #444;
	display: inline-block;
	border-radius: 50%;
	z-index: 303;
	margin-right: 10px;
	position: relative;
}
.owl-dot.active {
	background: #ddd;
}

.slider.-map .tab {
	padding-bottom: 20px;
}
.slider.-map .icon {
  width: 38px;
  height: 38px;
  vertical-align: middle;
}
#canvas1  {
position: relative;
padding-bottom: 500px;
padding-top: 30px;
height: 0;
overflow: hidden;
}
#canvas1 iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/*** GOOGLE  MAP */
.scrolloff {
		/*pointer-events: none;*/
}

.arrow-down {
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	width: 20px;
	height: 20px;
	content: "";
	display: block;
	cursor: pointer;
	margin: 10px auto 0 auto;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(-45deg);
  }
  40% {
    transform: translateY(-20px) rotate(-45deg);
  }
  60% {
    transform: translateY(-10px) rotate(-45deg);
  }
}

.__text-right {
	text-align: right;
}
.hamburger-menu {
	display: none;
	width: 40px;
	height: 38px;
	/*background: red;*/
	border-radius: 3px;
	border: 2px solid;
	padding: 6px 4px;
}
.hamburger-menu:hover {
	background: #C1AF9F;
}
.hamburger-menu:hover span {
	background: rgba(34, 22, 13, 1);
}
.hamburger-menu:active,
.hamburger-menu:focus {
		background: rgba(24, 12, 3, 1);
}
.hamburger-menu:active span,
.hamburger-menu:focus span {
	background: #C1AF9F;
}
.hamburger-menu span {
	margin: 4px auto;
	width: 80%;
	height: 2px;
	background: #C1AF9F;
	content: "";
	display: block;
}
@media screen and (max-width: 1024px) {
	.navigation-bar .navbar-right .navbar-menu li {
		padding-left: 2%;
		padding-right: 2%;
	}
	.head.-head-1 .content {
		left: 22%;
	}
	.head.-head-1 .actor {
		right: 17%;
	}
	.arrow.prev {
		left: 8.2%;
	}
	.arrow.next {
	  right: 8.2%;
	}
}

@media screen and (max-width: 768px) {
	.slide-menu-1 .-img {
		height: 370px;
	}
	.slide-menu-2 .container {
		width: 80%;
	}
	.slide-menu-1 .content {
		margin: 70px auto;
	}
	.slider.-menu {
		/*height: 433px;*/
		height: auto;
	}
	.head.-head-1 .actor {
		/*bottom: 115px;*/
		right: 5%;
	}
	.promo .text {
		margin-top: 100px;
	}
	#en .promo .text {
		/*margin-top: 130px;*/
	}
	.cta {
		margin-top: -116px;
	}
	.cta p,
	.cta .btn {
		font-size: 22px;
	}
	ul.contact li {
		vertical-align: middle;
	}
	.navigation-bar ul.contact li.fb{
		display: none;
	}
	.hamburger-menu {
		display: block;
	}
	.navigation-bar ul.navbar-menu {
		padding: 0;
		position: absolute;
		left: 0;
		top: 120px;
		width: 100%;
		display: none;
	}
	.navigation-bar .navbar-right .navbar-menu li {
		padding: 0;
		display: block;
	}
	.navigation-bar .navbar-right .navbar-menu li div,
	.navigation-bar .navbar-right .navbar-menu li a{
		padding: 30px;
    display: block;
    background: rgba(54, 42, 33, 1);
    width: 100%;
    text-align: center;
    font-size: 20px;
		border-bottom: 1px solid #C1AF9F;
	}
	.navigation-bar .navbar-right .navbar-menu li:active,
	.navigation-bar .navbar-right .navbar-menu li:focus,
	.navigation-bar .navbar-right .navbar-menu li:hover {
		background: rgba(34, 22, 13, 1);
	}
	.head.-head-3 {
		-webkit-background-size: cover;
		background-size: cover;
		background-position: top center;
    padding-top: 300px;
	}
	.head.-head-3 .text {
    display: block;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 30px;
    color: #ffffff;
    width: 50%;
    margin: 0 auto;
    padding: 25px 10px 10px 10px;
    font-family: 'edpensooknormaltone';
    background: rgba(0,0,0,.7);
	}
	.slider .arrow {
		top: 56%;
		width: 20px;
		height: 20px;
	}
	.hide-desktop {
		padding: 0;
	}
	.text.hide-desktop {
		text-align: center;
	  height: 370px;
	  padding: 120px 0;
	  background: rgba(0,0,0,.7);
		font-family: 'cinzelregular';
		display: block !important;
	}
	.show-desktop {
		display: none !important;
	}
	.promo .show-desktop {
		display: block !important;
	}
}

@media screen and (max-width: 426px) {
	.slider.-menu {
    /*height: 374px;*/
		height: auto
	}
	.slide-map-1 img {
    width: 100% !important;
	}
	.slide-menu-3 .container {
		width: 80%;
	}
	.slide-menu-2 .title,
	.slide-menu-3 .title {
		display: block;
	}
	.owl-dots  {
		display: block !important;
		margin-top: -20px;
		text-align: center;
		padding-bottom: 0px;
	}
	.head.-head-1 .actor {
		display: none;
	}
	.head.-head-1 .text p {
		font-size: 19px;
		max-width: 500px;
	}
	.head.-head-1 .content {
    position: relative;
    left: 0;
    top: 0;
    padding: 210px 0;
    text-align: center;
	}
	.head.-head-1 .text {
		margin-left: auto;
	}
	.cta {
		margin-top: -127px;
		padding: 12px 0;
	}
	.cta p {
		font-size: 20px;
		text-align: center;
		margin-bottom: 10px;
	}
	.cta .btn {
		font-size: 22px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 8px 10px;
    border-width: 2px;
	}
	.cta .btn .arrow-right {
		width: 12px;
		height: 12px;
	}
	.info p br {
		display: none;
	}
	.slider.-menu .slider-menu li {
		padding: 5px 10px;
		font-size: 13px;
	}
		.slide-menu-2 {
			padding-bottom: 10px;
		}
	.slide-menu-2 .col-sm-3 div {
		height: 95px;
	}
	.slide-menu-3 {
    margin: 10px auto;
	}
	.__text-right {
		text-align: left;
		font-family: 'cinzelbold';
	}
	.head.-head-3 {
		padding-top: 260px;
	}
	.head.-head-3 .text {
		width: 80%;
		font-size: 24px;
	}
}

@media screen and (max-width: 426px) {
	.slide-menu-1 .content .text a.btn {
		font-size: 20px;
	}
	.slider.-menu .slider-menu li {
		display: none;
	}
	.banner-row {
		font-size: 18px !important;
	}
	/*.info {
		height: 500px;
	}*/
	.cta p {
		font-size: 14px;
	}
	.cta {
		margin-top: -110px;
	}
	.head.-head-1 .text span {
		font-size: 19px;
	}
	.head.-head-1 .text span.big {
		font-size: 28px !important;
	}
	.head.-head-1 .content {
    padding: 240px 0 200px 0;
	}
	.navigation-bar ul.contact li.phone {
		display: none;
	}
	.arrow {
		/*display: none !important;*/
	}
	.promo > div > div.nomin {
		min-height: 0;
	}
	.promo .text {
		/*margin: 100px auto;*/
		font-size: 32px;
	}
}

@media screen and (max-width: 376px) {
	.footer br {
		display: none;
	}
	.margin-bottom-p5 {
    font-size: 1em;
	}
	.slider.-menu {
    height: auto;
	}
	.btn.-ghost {
		font-size: 21px;
	}
	.btn.-ghost .arrow-right {
		width: 14px;
		height: 14px;
	}
	.promo .text {
		font-size: 22px;
	}
	.promo > div > div {
		min-height: 300px;
	}
	.promo > div img {
		margin-top: 100px;
	}
	.head.-head-3 .btn {
		font-size: 21px;
	}
	.slider.-menu .text .sub {
		font-size: 30px;
	}
}

@media screen and (max-width: 321px) {
	/*.info .row {
		padding: 50px 0;
	}*/
	/*.info .arrow-down {
		margin: 60px auto 0 auto;
	}*/
	.banner-row {
		font-size: 16px !important;
	}
	.head.-head-1 .text p {
		font-size: 16px;
	}
	.info p {
		font-size: 20px;
		line-height: 1.3;
	}
	.info .title {
		line-height: 1.5;
	}
	.info .row {
		padding: 3vh 0;
	}
	.footer {
		padding: 30px 10px;
	}
	.slide-menu-1 .content .text a.btn {
		font-size: 16px;
	}
	.slide-menu-1 .content .text span {
		font-size: 25px;
	}
	.head.-head-2 .title {
		font-size: 40px;
	}
	.head.-head-3 .text {
		font-size: 22px;
	}
	.head.-head-3 .btn.-ghost {
		font-size: 18px;
	}
}

.slider.-menu .slider-menu li.active {
	font-family: 'cinzelbold';
}
.slider.-menu .slider-menu li.active div {
	box-shadow: inset 0 -1px #C1AF9F;
}
#register-panel {
    font-family: "thaisans_neueregular";
    line-height: 1.4;
}
#text-board-panel {
    font-family: "thaisans_neueregular";
    line-height: 1.4;
}
#footer-panel .footer-text {
	line-height: 1.4;
}

.text.hide-desktop {
	font-size: 50px;
	display: none;
}
.show-desktop {
	display: block;
}
.promo .text {
	font-family: 'edpensooknormaltone';
  height: auto !important;
}
.promo .text.hide-desktop {
	margin-top: 0;
	display: none !important;
	font-size: 32px;
}

@media screen and (max-width: 767px) {
	.promo > div > div {
		min-height: 0;
	}
	.promo .text.hide-desktop {
		display: block !important;
	}
	.promo .show-desktop {
		display: none !important;
	}
}


input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}
input[type='radio']:checked:before {
  background:#C1AF9F;
}


@media screen and (min-width: 1024px) {
	#en .promo .text {
		font-size: 2em;
	}
}

.lb-outerContainer {
	background-color: transparent !important;
	height: auto !important;
}
.lb-nav a.lb-prev,
.lb-nav a.lb-next {
	opacity: .7 !important;
}
#register-form {
	text-align: left;
}
.margin-bottom-p5 {
    margin-bottom: 17px !important;
    line-height: 1.4 !important;
}
